@font-face {
	font-family: 'roboto';
	src: url('Roboto.ttf') format('ttf');
}

@font-face {
	font-family: 'oswald';
	src: url('Oswald-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'lucida';
	src: url('lucida.ttf') format('ttf'),
		 url('lucida.eot') format('eot');
}
