header{
	display: flex;
	justify-content: center;
	background-color: #FFBED5;
	height: 124px;
	position : relative;
	top: -8px;
	left: -8px;
	width: 102%;
}

#teterose {
	width : 60%;
	display: flex;
	justify-content: space-between;
}

#teterose img {
	height: 124px;
}

#teterose #menu ul {
	display: flex;
	flex-direction: row;
	padding: 60px 0 0 0;
}

#teterose #menu ul li {
	padding-right: 40px;
	border-bottom: 1px solid black;
}
