/*.test {
	height: 300px;
	width : 500px;
	background-color: rgba(200,0,0, 1);
	animation-name: slideIn;
	animation-duration: 2s;
}*/


body {
	background-color : #d2efe3;
	display : flex; 
	flex-direction : column;
	justify-content : center;
	align-items : center;
	color : #535B58;
}

#page{
	background-color : rgba(255,255,255,0.6);
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items: center;
	width : 950px;
	min-height : 500px;
	
}

#page .accueil {
	background-color : white;
	border-radius: 50%;
	width: 350px;
	height: 350px;
	display : flex;
	flex-direction: column;
	justify-content :center;
	align-items : center;
	font-style : italic;
	font-family: lucida;
	font-size : 21px;
	letter-spacing : 4px;
	line-height : 54px;
	font-style : italic;
}

#page .accueil mark{
	background-color : white;
	font-size : 36px;
	color : #535B58;
	font-family : serif;
}

#page article {
	font-family: Arima, Roboto, Oswald, arial, impact;
	width: 90%;
	line-height : 30px;
	letter-spacing : 2px;
	font-size : 26px;
	margin-top : 40px;
	margin-bottom : 40px;
}

#page h1 {
	text-align: center;
	font-size : 44px;
	color : #72858C;
	font-style: none;
}

.basic {
	display : flex;
	align-self: center;
	width: 100%;
	margin-bottom : 50px;
	align-items : center;
	font-size : 15px;
	color : #72858C;
	letter-spacing : none;
	font-family : Lobster;
	line-height : normal;
}

.basic:nth-child(even){
	flex-direction : row-reverse;
}

.basic img {
	width : 401px;
	height : 217px;
	border : 8px white solid;
	box-shadow: 0 0 2px 2px #bdbdbd;
}

.basic figcaption  {
	font-size : 12px;
	text-align: center;
	padding-top : 8px;
	font-family : roboto;
	font-weight: normal;
}