.test {
	height: 300px;
	width : 500px;
	background-color: rgba(200,0,0, 1);
	animation-name: slideIn;
	animation-duration: 2s;
}

#flex
{
    display: flex;
	flex-direction : row;
    flex-wrap: wrap;
	width : 100%;
	justify-content : space-between;
	align-item : start;
	
}

body {
	background-color : #81efce;
	display : flex; 
	flex-direction : column;
	justify-content : center;
	align-items : center;
}

#page{
	background-color : rgba(255,255,255,0.6);
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-item: center;
	max-width : 800px;
	min-height : 500px;
}

#page h1 {
	background-color : white;
	border-radius: 50%;
}

#page article {
	background-color : green;
}