/*.test {
	height: 300px;
	width : 500px;
	background-color: rgba(200,0,0, 1);
	animation-name: slideIn;
	animation-duration: 2s;
}*/


body {
	background-color : #81efce;
	display : flex; 
	flex-direction : column;
	justify-content : center;
	align-items : center;
}

#page{
	background-color : rgba(255,255,255,0.6);
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items: center;
	width : 950px;
	min-height : 500px;
}

#page #accueil {
	background-color : white;
	border-radius: 50%;
	width: 350px;
	height: 350px;
	display : flex;
	flex-direction: column;
	justify-content :center;
	align-items : center;
	font-style : italic;
	font-family: lucida;
	font-size : 21px;
	letter-spacing : 4px;
	line-height : 54px;
}

#page #accueil mark{
	background-color : white;
	font-size : 36px;
}

#page article {
	font-family: 'Arima Madurai', Roboto, Oswald, arial, impact;
	width: 90%;
	font-style : italic;
	line-height : 30px;
	letter-spacing : 2px;
	font-size : 20px;
	margin-top : 40px;
	margin-bottom : 40px;
}